<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7ebc265c1e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="home__header">
        <div>
<a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
<form class="home__header--busqueda" action="">
    <input type="text">
    <button>Buscar</button>
</form>
<h3 class="home__header--titulo"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav>
<ul class="home__header--menu">
  <li><a href="/ofertas">Ofertas</a></li>
  <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
  <li><a href="vender">Vender</a></li>
  <li><a href="/ayuda">Ayuda</a></li>
  
</ul>

<ul class="home__header--menu">
    <li></i><a href="/crea-tu-cuenta">Crea tu Cuenta </a><i class="fa-solid fa-id-card"></i></li>
    <li><a href="/ingresa">Ingresa </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
    <li><a href="/mis-compras">Mis Compras </a></i></li> <i class="fa-solid fa-basket-shopping-simple"></i>
</ul>

        </nav>
    </header>
    <main class="home__main">
        <h2 class="home__main--titulo">Basado en tu última visita</h2>
        <img class="home__main--producto"src="/img/img-cafetera-moulinex.jpg" alt="">
        <p class="home__main--precios">$6.770</p>
        <p class="home__main--descuentos"> 40% OFF</p>
            <h2 class="home__main--titulo">Cafetera Moulinex</h2>
        <img class="home__main--producto" src="/img/img-macbook-pro-2019.jpg" alt="">
        <p class="home__main--precios">$230.000 </p>
           <p class="home__main--descuentos"> 20% off</p>    
           <h2 class="home__main--titulo">MacBook Pro 2019</h2>
        <img class="home__main--producto" src="/img/img-samsung-galaxy-s10.jpg" alt="">   
        <p class="home__main--precios">$70.500</p>
        <p class="home__main--descuentos">10% off</p>
        <h2 class="home__main--titulo">Samsung Galaxy S10</h2>
        <img class="home__main--producto" src="/img/img-tv-samsung-smart.jpg" alt="">
        <p class="home__main--precios">$23.200</p>
        <p class="home__main--descuentoss">5% off</p>
        <h2 class="home__main--titulo">SmartTv Samsung 43"</h2>
    </main>
    <footer class="home__footer">
        <h3 class="home__footer--titulo">Pagá con tarjeta o en efectivo</h3>
        <p class="home__footer--parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h3 class="home__footer--titulo">Envío gratis desde $ 2.500</h3>
        <p class="home__footer--parrafo"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h3 class="home__footer--titulo">Seguridad, de principio a fin </h3>    
        <p class="home__footer--parrafo"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L. </p>    
    </footer>
</body>
</html>