<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar secion</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7ebc265c1e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cuenta__header">
        <div class="cuenta__header--logo">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
        </div>
        <div class="cuenta__header--busqueda">
            <form action="">
                <input type="text">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="cuenta__header--titulo">
            <h3><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav class="cuenta__header__nav">
            <div class="cuenta__header--menu--principal">    
                <ul>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                    <li><a href="vender">Vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                    <br>
                    <li></i><a href="/crea-tu-cuenta">Crea tu Cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/ingresa">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="/mis-compras" >Mis Compras <i class="fa-solid fa-cart-shopping"></i></a></li> 
                </ul>
            </div>
        </nav>
        <div class="cuenta__header--burger">
            <button><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <main class="secion__main">
        <section class="secion__main__section">
            <form action="" class="iniciar__secion">
                <h1 class="secion__main--tituloPrincipal">Iniciar secion</h1>
                <div class="secion__main__div--email">
                    <input class="secion__input" type="email" id="email" name="email" placeholder="Email">
                    <small class="secion__mensaje--error">El email obligatorio</small>
                </div>
                <div class="secion__main__div--contraseña">
                    <input class="secion__input" type="password" id="password" name="password" placeholder="Contraseña">
                    <small class="secion__mensaje--error">La Contraseña es obligatoria</small>
                </div>
            </form>
        </section>
    </main>
    <footer class="cuenta__footer">
        <div class="cuenta__footer__div">
            <i class="fa-solid fa-credit-card"></i>
            <h3 class="cuenta__footer__div--titulo">Pagá con tarjeta o en efectivo</h3>
            <p class="cuenta__footer__div--parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="cuenta__footer__div">
            <i class="fa-solid fa-gift"></i> 
            <h3 class="cuenta__footer__div--titulo">Envío gratis desde $ 2.500</h3>
            <p class="cuenta__footer__div--parrafo"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="cuenta__footer__div">
            <i class="fa-solid fa-user-shield"></i>
            <h3 class="cuenta__footer__div--titulo">Seguridad, de principio a fin </h3>    
            <p class="cuenta__footer__div--parrafo"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div class="cuenta__footer__div--final">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L. </p>   
        </div>
    </footer>
</body>
</html>