/*HEADER*/


/* MAIN*/
.home__main{
    background-color: var(--colorGrisClaro);
}
.home__main section{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
}
.home__main__div{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
    position: relative;
    display: flex;
}

.home__main__article{
    width: 100%;
    justify-content: center;
}

.home__main__div--producto {
    width:100%;
}

.home__main__div a{
    color: var(--colorVerde);
} 


main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }



.home__main--titulo {
    font-size: var(--textoSizeTitulares );
    color: var(--colorGrisOscuro);
    font-weight: 600;
}

.home__main__div--precios {
    width: 30%;
    font-size: var(--textoSizePrecios);
    font-weight: 400;
    margin-bottom: 0px;
    color: black;
}

.home__main__div--descuentos {
    width: 70%;
    font-size: var(--textoSizeDescuentos);
    font-weight: 400;
    color: var(--colorVerde);
    
}
.home__main__div--nombreProducto {
    font-size: var(--textoSizeCuerpo);
    color: var(--colorGrisOscuro);
}

/* TELEFONO */
@media (max-width:767px) {
    
    /*Main*/
    .home__main__div--nombreProducto{
        display: none;
    }
}

/* TABLET*/
@media (min-width:768px) { 
/*main*/
.home__main--section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.home__main--titulo{
    text-align: justify;
    width: 100%;
}
.home__main__article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
}
.home__main__div--nombreProducto{
    display:block;
    width: 100%;
    text-align: center;
}
}

/*DESKTOP*/
@media (min-width:1024px) {
    .home__main--section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .home__main--titulo{
        text-align: justify;
        width: 100%;
    }
    .home__main__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 22%;
    }
}